    header {
      background: url(http://i.imgur.com/6ZO2Lrc.jpg);
      background-size: cover;
      text-align: left;
      color: rgba(255,255,157,1);
      font-family: 'Roboto Slab', serif;
      font-size: 50px;
      font-weight: bold;
      margin: 0 auto;
    }
    img {
      margin: 40px 0px 0px 40px;
      border: 8px solid rgba(0,163,136,1);
      border-radius: 10000px;
      max-width: 200px;
      height: auto;
    }
    body {
      background: rgba(190,235,159,1);
      }
    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      color: rgba(50,50,50,1);
      text-align: right;
      padding: 50px auto;
      background: rgba(255,255,157,.5);
    }
    nav {
      text-align: center;
      font-size: 25px;
    }
    ul {
      padding: 10px;
      background: rgba(0,163,136,1);
    }
    li {
      display: inline;
      padding: 0px 20px 0px 20px;
    }
    a {
      font-family: 'Roboto', sans-serif;
      color: rgba(50,50,50,1);;
      font-weight: bold;
    }
    article {
      max-width: 1000px;
      padding: 40px;
      margin: 0 auto;
    }
    div {
      padding: 50px;
    }
    .aboutme {
      background: url(http://i.imgur.com/Ddhqt8t.jpg);
      background-size: cover;
    }
    .projects {
      background: url(http://i.imgur.com/SqNdky2.jpg);
      background-size: cover;
    }
    .blog {
      background: url(http://i.imgur.com/CgT8EuW.jpg);
      background-size: cover;
    }
    .contact {
      background: url(http://i.imgur.com/9ce2waU.jpg);
      background-size: cover;
    }
    h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 40px;
      color: rgba(50,50,50,1);
      background: rgba(255,255,157,.5);
      text-align: center;
    }
    p {
      color: rgba(50,50,50, 1);
      background: rgba(121,189,143,1);
      font-family: 'Roboto', sans-serif;
      padding: 10px;
    }
    footer {
      text-align: center;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
    }
    @media (max-width: 1000px) {
      header {
        text-align: center;
        font-size: 30px;
      }
      img {
        margin: 20px 10px 0px 10px;
      }
      h3{
        font-size: 20px;
      }
      li {
        padding: 5px;
      }
      h2 {
        font-size: 30px;
      }
    }