header {
  height: auto;
  margin: -10px -10px 0px -10px;
  padding: 20px 30px 20px 30px;
  background-color: #3E606F;
  font-family: Roboto slab;
  font-size: 60px;
  font-weight: 900;
  color: #91AA9D;
}
header #cursive {
  font-family: Lucida;
  font-style: italic;
}
section {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
.left {
  float: left;
  position: relative;
  background-color: #D1DBBD;
  width: 70%;
  margin-right: 1%;
  margin-left: 2%;
  padding: 1%;
}
.right {
  float: left;
  position: relative;
  background-color: #91AA9D;
  width: 20%;
  margin-right: 2%;
  margin-left: 1%;
  padding: 1%;
}
h1 {
  text-align: left;
  font-family: Julius Sans One, sans-serif;
  font-size: 34px;
}
h2 {
  text-align: left;
  font-family: Julius Sans One, sans-serif;
  font-size: 26px;
}
h4 {
  text-align: left;
  font-family: Julius Sans One, sans-serif;
  margin-bottom: 10px;
}
p {
  font-family: Garamond;
}
#blogtext {
  font-size: 20px;
}
.sidepaneltitle {
  font-family: Julius Sans One;
  font-size: 20px;
  text-align: center;
}
footer {
  clear: both;
  height: 50px;
  background-color: #3E606F;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #D1DBBD;
  text-align: center;
  margin: 0px -10px -20px -10px;
  padding-top: 20px;
}
